<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305837948650-rvoc9ndvjbnjo40dd4oubvt70h4u4nkh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305837948650-rvoc9ndvjbnjo40dd4oubvt70h4u4nkh</string>
	<key>API_KEY</key>
	<string>AIzaSyC8d1I4eRj74UZv68XjZrIOaMHtCy-QgsI</string>
	<key>GCM_SENDER_ID</key>
	<string>305837948650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.liannechoi.ChuckchuDrivenDevelopment</string>
	<key>PROJECT_ID</key>
	<string>chuckchudrivendevelopment</string>
	<key>STORAGE_BUCKET</key>
	<string>chuckchudrivendevelopment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305837948650:ios:7a32b051bcda65490e2193</string>
</dict>
</plist>